<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <!-- <img src="http://placehold.it/250x80" alt="" class="img-fluid"> -->
              <p>Arca Smart Business te ayuda a crear tu espacio en la red</p>
              <ul class="contact-details">
                <li>
                  <span class="icon-earphones"></span> Llámanos:
                  <a href="tel:+52 5534809782">(52) 55-3480-9782</a>
                </li>
                <li>
                  <span class="icon-envelope-open"></span>
                  <a href="mailto:conatcto@arca-soft.com">contacto@arca-soft.com</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">Categorías populares</h4>
              <ul>
                <li>
                  <a href="#">Nuestros clientes</a>
                </li>
                <li>
                  <a href="#">Aviso de privacidad</a>
                </li>
                <li>
                  <a href="#">Alianzas</a>
                </li>
                <li>
                  <a href="#">Ubícanos</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Nuestro equipo</h4>
              <ul>
                <li>
                  <a href="#">Conócenos</a>
                </li>
                <li>
                  <a href="#">Afiliados</a>
                </li>
                <li>
                  <a href="#">Testimonios</a>
                </li>
                <li>
                  <a href="#">Contáctanos</a>
                </li>
                <li>
                  <a href="#">Nuestro Blog</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-4">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Soporte a clientes</h4>
              <ul>
                <li>
                  <a href="#">Foro</a>
                </li>
                <li>
                  <a href="#">Términos &amp; Condiciones</a>
                </li>
                <li>
                  <a href="#">Política de soporte</a>
                </li>
                <li>
                  <a href="#">Política de reclamos</a>
                </li>
                <li>
                  <a href="#">Facturación</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->

      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© 2020
              <a href="#">Arca Smart Business</a>. Todos los derechos reservados. Creado por
              <a href="#">ASB México</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
