<br>
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <h4>Elige una categoría</h4><br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
          <input type="text" class="form-control fadeInDown third" placeholder="Búsqueda" name="filtro" autocomplete="off">
        </div>
        <div class="col-md-3"></div><br><br><br>
      </div>
    </div><br><br>
    <div class="col-md-3 fadeInDown first" *ngFor=" let item of lista | projectFilter:filtro">
      <a [routerLink]="['/web-generator']" class="btn btn-primary" id="container"><i class="fa fa-sun"
          style="font-size: 44px;"></i>
        <h6>{{item.name}}</h6>
      </a><br><br>
    </div>
  </div>
</div>
<br>
