<br><br><div class="row">
  <div class="wrapper fadeInDown" style="z-index: 0;">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <h2>Regístrate</h2>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="mail" class="fadeIn second" name="mail" placeholder="Correo">
        <input type="text" id="phone" class="fadeIn second" name="phone" placeholder="Teléfono">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Usuario"><br><br>
        <input type="text" id="password" class="fadeIn third" name="login" placeholder="Contraseña">
        <input type="text" id="reppass" class="fadeIn third" name="reppass" placeholder="Repite tu contraseña">
        <input type="submit" class="fadeIn fourth" value="Registrarme">
      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">¿Ya tienes una cuenta?</a>
      </div>

    </div>
  </div>
</div><br><br>
