<br><br><div class="container fadeInDown">
  <div class="row">
    <div class="col-md-6" id="titulo">
      <img src="assets/images/dashboard2.jpg" alt="" width="100%">
      <h2>Sistemas de control</h2><br>
    </div><br>
    <div class="col-md-6" id="texto">
      <h4>Que la tecnología haga las tareas por ti.</h4><br>
      <h5>Desarrollamos aplicaciones que permiten llevar el control de diversos negocios y actividades.
      </h5><br><br>
      <a href="" class="btn btn-primary">Contáctanos</a><br><br>
      <a href="" class="btn btn-primary">Prueba nuestra plataforma</a><br><br>
    </div>
</div>
</div>
