<br><br><div class="container fadeInDown">
  <div class="row">
    <div class="col-md-6" id="titulo">
      <img src="assets/images/redes.jpg" alt="" width="100%">
      <h2>Manejo de redes sociales</h2><br>
    </div><br>
    <div class="col-md-6" id="texto">
      <h4>Concéntrate en tu negocio y nosotros nos encargamos de tus redes</h4><br>
      <h5>Te ayudamos a crear contenido en tus redes sociales, atención a clientes y gestión de publicidad pagada.
      </h5><br><br>
      <a href="" class="btn btn-primary">Contáctanos</a><br><br>
      <a href="" class="btn btn-primary">Prueba nuestra plataforma</a><br><br>
    </div>
</div>
</div>
