<br><br><div class="container fadeInDown">
  <div class="row">
    <div class="col-md-6" id="titulo">
      <img src="assets/images/appmovil2.jpg" alt="" width="100%">
      <h2>Aplicaciones móviles</h2><br>
    </div><br>
    <div class="col-md-6" id="texto">
      <h4>¿Aún no tienes una app para vender?</h4><br>
      <h5>Nosotros creamos tu aplicación móvil con las mejores tecnologías y una sencilla interfaz.
      </h5><br><br>
      <a href="" class="btn btn-primary">Contáctanos</a><br><br>
      <a href="" class="btn btn-primary">Prueba nuestra plataforma</a><br><br>
    </div>
</div>
</div>
