<br><br><div class="row">
  <div class="wrapper fadeInDown" style="z-index: 0;">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first">
        <h2>Ingresa tu correo</h2>
      </div>

      <!-- Login Form -->
      <form>
        <input type="text" id="login" class="fadeIn second" name="mail" placeholder="Correo">
        <input type="submit" class="fadeIn fourth" value="Recuperar">
      </form>

      <!-- Remind Passowrd -->

    </div>
  </div>
</div><br><br>
