<br><br><div class="container">
<div class="col-md-12">
  <div>
  <ul class="nav navbar">
      <li class="nav-item active"><a data-toggle="tab" href="#tab-01">Paso 1</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#tab-02">Paso 2</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#tab-03">Paso 3</a></li>
      <li class="nav-item active"><a data-toggle="tab" href="#tab-04">Finalizar</a></li>
      </ul></div>
      <div class="tab-content">
      <div class="tab-pane active fadeIn fast" id="tab-01">
          <div id="idAnexoTecnico" class="row ">
              <div class="col-md-12">
                  <div class="page-header">
                      <br>
                      <h4>Paso 1. Datos de tu sitio</h4>
                  </div>
              </div>

              <div id="idAnexoEntidad" class="col-md-12" >

                  <div class="row">
                      <div class="col-md-4">
                          <div class="form-group">
                              <input name="nombreSitio" type="text" class="form-control" autocomplete="off" placeholder="Nombre de tu sitio web">
                          </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                            <select name="estiloSitio" id="" class="form-control">
                              <option value="-1">Elige un estilo...</option>
                              <option *ngFor="let estilo of hola" [value]="estilo.i">{{estilo.name}}</option>
                            </select>
                        </div>
                      </div>
                      <div class="col-md-4" style="text-align: center;">
                        <div class="form-group">
                          <label></label>
                          <a data-toggle="tab" class="btn btn-primary" href="#tab-02">Siguiente</a>
                      </div>
                      </div>
                  </div><br><br><br>
              </div>
        </div>

    </div>


    <div class="tab-pane fadeIn fast" id="tab-02">
        <div id="" class="row">
            <!-- MODELOATESANIDADES -->
            <div class="col-md-12">
                <div class="page-header">
                  <br>
                    <h4>Paso 2. Sube tu logotipo</h4>
                </div>
            </div>

            <div class="col-md-4">
                    <div class="form-group has-feedback has-search">
                        <input type="file" class="form-control">
                    </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
              <div class="form-group">
                <label></label>
                <a data-toggle="tab" class="btn btn-primary" href="#tab-02">Siguiente</a>
            </div>
            </div>
            <div class="col-md-4" style="text-align: center;">
            <div class="form-group">
              <label></label>
              <a data-toggle="tab" class="btn btn-primary" href="#tab-01">Regresar</a>
          </div>
            </div>
        </div><br><br><br>
    </div>

    <div class="tab-pane fadeIn fast" id="tab-03"></div>


    <div class="tab-pane" id="tab-04">
    </div>
</div>
</div>
</div>
