<br><br><div class="container fadeInDown">
  <div class="row">
    <div class="col-md-6" id="titulo">
      <img src="assets/images/sitioweb2.jpg" alt="" width="100%">
      <h2>Páginas web profesionales para tu negocio</h2><br>
    </div><br>
    <div class="col-md-6" id="texto">
      <h4>Creamos los mejores diseños de sitios web para tu negocio a travez del entendimiento de tu proyecto.</h4><br>
      <h5>Contamos con 5 años de experiencia ofreciendo páginas de excelente calidad e nuestros clientes.</h5><br><br>
      <a href="" class="btn btn-primary">Contáctanos</a><br><br>
      <a href="" class="btn btn-primary">Prueba nuestra plataforma</a><br><br>
    </div>
</div>
</div>
