<br><br><div class="container fadeInDown">
  <div class="row">
    <div class="col-md-6" id="titulo">
      <img src="assets/images/tiendaonline2.jpg" alt="" width="100%">
      <h2>Haz crecer tu negocio con una Tienda Online</h2><br>
    </div><br>
    <div class="col-md-6" id="texto">
      <h4>Vende tus productos a todo el mundo con un sitio que cuente con sistemas de ventas.</h4><br>
      <h5>¿Sabías que el comercio electrónico esta sustituyendo cada día mas las ventas físicas de producto?<br>
      Deja de perder más clientes, nosotros t ayudamos.
      </h5><br><br>
      <a href="" class="btn btn-primary">Contáctanos</a><br><br>
      <a href="" class="btn btn-primary">Prueba nuestra plataforma</a><br><br>
    </div>
</div>
</div>
