<br>
<!-- <div class="row">
  <div class="col-md-9" style="text-align: center;">
    <img src="assets/images/imgbanner.jpg" alt="" width="85%">
  </div>
  <div class="col-md-3">
    <h3>Comienza este nuevo año con las mejores herramientas que tenemos para ti</h3>
  </div>
</div> -->
<div class="row">
  <div class="col-md-4 wrapper fadeInDown" id="container">
    <a href=""><img src="assets/images/sitioweb.png" alt="" id="img"></a>
    <br><br>
    <h3>Sitios Web</h3>
    <h2>Creamos la página perfecta para tu negocio o proyecto</h2>
    <br>
  </div>
  <div class="col-md-4 wrapper fadeInDown" id="container">
    <a href=""><img src="assets/images/onlinestore.png" alt="" id="img"></a>
    <br><br>
    <h3>Tiendas Online</h3>
    <h2>Vende tus pruductos a todo el mundo</h2>
    <br>
  </div>
  <div class="col-md-4 wrapper fadeInDown" id="container">
    <a href=""><img src="assets/images/dashboard.jpg" alt="" id="img"></a>
    <br><br>
    <h3>Sistemas de control</h3>
    <h2>Controla tus inventarios y genera reportes</h2>
    <br>
  </div>
  <div class="col-md-4 wrapper fadeInDown" id="container">
    <a href="#"><img src="assets/images/appmovil.jpg" alt="" id="img"></a>
    <br><br>
    <h3>Aplicaciones móviles</h3>
    <h2>Lleva tu negocio a todas partes</h2>
    <br>
  </div>
  <div class="col-md-4 wrapper fadeInDown" id="container">
    <a href="#"><img src="assets/images/community.png" alt="" id="img"></a>
    <br><br>
    <h3>Manejo de redes sociales
    </h3>
    <h2>¿Necesitas una mano con tus redes?</h2>
    <br>
  </div>
  <div class="col-md-4 wrapper fadeInDown" id="container">
    <a href=""><img src="assets/images/talleres.jpg" alt="" id="img"></a>
    <br><br>
    <h3>Talleres</h3>
    <h2>Capacítate con nuestros talleres para principiantes</h2>
    <br>
  </div>
</div>
