<br>
<div class="row">
  <div class="col-md-4" id="container">
    <a href=""><img src="assets/images/sitioweb.png" alt="" id="img"></a>
    <br><br>
    <h2>Sitios Web</h2>
    <h3>Creamos la página perfecta para tu negocio o proyecto</h3>
    <br>
  </div>
  <div class="col-md-4 wow fadeInUp" id="container">
    <a href=""><img src="assets/images/onlinestore.png" alt="" id="img"></a>
    <br><br>
    <h2>Tiendas Online</h2>
    <h3>Vende tus pruductos a todo el mundo</h3>
    <br>
  </div>
  <div class="col-md-4" id="container">
    <a href=""><img src="assets/images/dashboard.jpg" alt="" id="img"></a>
    <br><br>
    <h2>Sistemas de control</h2>
    <h3>Controla tus inventarios y genera reportes</h3>
    <br>
  </div>
</div>
<div class="row">
  <div class="col-md-4" id="container">
    <a href=""><img src="assets/images/appmovil.jpg" alt="" id="img"></a>
    <br><br>
    <h2>Aplicaciones Móviles</h2>
    <h3>Lleva tu negocio a todos lados</h3>
    <br>
  </div>
  <div class="col-md-4" id="container">
    <a href=""><img src="assets/images/onlinestore.png" alt="" id="img"></a>
    <br><br>
    <h2>Tiendas Online</h2>
    <h3>Vende tus pruductos a todo el mundo</h3>
    <br>
  </div>
  <div class="col-md-4" id="container">
    <a href=""><img src="assets/images/dashboard.jpg" alt="" id="img"></a>
    <br><br>
    <h2>Sistemas de control</h2>
    <h3>Controla tus inventarios y genera reportes</h3>
    <br>
  </div>
</div>
